.reviews{
  &__block{
    padding: 20px;
    @include media-breakpoint-down(sm){
      padding: 5px;
    }

  }
  &__img{

    border: 15px ridge #333;
    @include media-breakpoint-down(sm){
      border: 10px ridge #333;
    }
    box-shadow: 0px 20px 30px -10px rgba(0,0,0,.5);
    margin: 20px auto;
  }
}