@import "_mixins/font-face";

@include font-face("Roboto", "../fonts/RobotoRegular/RobotoRegular");
@include font-face("Roboto Thin", "../fonts/RobotoThin/RobotoThin");
@include font-face("Roboto Light", "../fonts/RobotoLight/RobotoLight");

@include font-face("Roboto Black", "../fonts/RobotoBlack/Roboto-Black", 900);
@include font-face("Roboto Bold", "../fonts/RobotoBold/RobotoBold");
@include font-face("Flaticon", "../fonts/Icons/Flaticon");

.f-reg{
  font-family: "Roboto", sans-serif;
}
.f-thin{
  font-family: "Roboto Thin", sans-serif;
}
.f-light{
  font-family: "Roboto Light", sans-serif;
}

.f-bold{
  font-family: "Roboto Bold", sans-serif;
}

.f-black{
  font-family: "Roboto Black", sans-serif;
}
