$default-font: "Roboto", sans-serif;
$accent: #663399;
$theme-color: #663399;
$text: #333;
$font-size: 16px;
$title-size: ( h1: 3em, h2: 2.5em, h3: 2em, h4: 1.5em, h5: 1.25em, h6: 1em);


// Customization Bootstrap vars from "app /libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 15px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 769px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1190px);

$gutter: $grid-gutter-width;

$fa-font-path:  "../fonts/fa/" !default;