$f: #e3e2e3;
$s: #c9c5cc;
.clients{
  padding: 0;
  padding-top: 3em;
  background: #f3f3f3;

  &__title{

  }
  &__subtitle{
    max-width: 600px;
    margin: 2em 0;
  }

  &__item{
    filter: grayscale(100%);
    transition: .5s all ease;
    text-align: center;
    background: $s;
    &:hover{
      filter: grayscale(0%);
    }
    @include media-breakpoint-up(xs){
      &:nth-child(1),&:nth-child(3),&:nth-child(6),&:nth-child(8){ background: $f;}
    }
    @include media-breakpoint-down(xs){
      &.c1{
        background: $s
      }

      &.c2{
        background: $f
      }

    }

    //&:nth-child(2),&:nth-child(4),&:nth-child(6),&:nth-child(8){ background: $s;}
  }

  &__block{}
  &__logo{
    text-align: center;
    img{
      margin: 0 auto
    }
  }
}