.nav{
  padding: 0px 0;
  top: 0;
  width: 100%;
  z-index:22;
  color: white !important;

  &__container{
    width: 100%;

    padding: 2px 10px;
  }

  &__items{
    flex-direction: column;

    height: 100%;
    min-height: 100vh;
    max-height: 100%;
  }
  &--fixed{
    position: fixed;
    width: 100%;
    top: -0px;
    background: rgba(0,0,0,.5);
    color: black;
    transition: .2s all ease-in;
    box-shadow: 0px 5px 20px rgba(0,0,0,.1);
    z-index: 9999;
    &.active{
      //top: 0
      background: rgba(0,0,0,.4);
    }
  }

  &__logo{
    &-block{
      max-width: 200px;
    }
    &-text{
      color: white;
      //text-transform: uppercase;
      font-size: 12px;
    }

  }
  p{
    margin: 0;
    padding: 0;
  }
  &__nav{

    align-items: center;
    text-align: center;
    width: 100%;

  }

  &__link{
    color: white
  }
  &__phone{
    @extend .f-bold;
    font-size: 1.2em;
    text-align: right;
    padding: 0;
    margin: 0;
    @include media-breakpoint-down(lg){
      font-size: 1.2em;
    }

    @include media-breakpoint-down(xs){

      margin: 20px auto;
      font-size: 1.2em;
      color: white;
      text-align: center;

    }
  }


}