@import "../vars";
/*
background:
*/

.__reset-btn{
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  user-select: none;
  cursor: pointer;
  width: 100%;

  font: $btn-font;
  font-size: 1rem;

  text-transform: $btn-text-transform;
  border: $btn-border;
  transition: $btn-transition;
  padding: $btn-padding;
  line-height:  $btn-line-height;
  border-radius: $btn-border-radius;
  color: $btn-color;
  max-width: $btn-max-width;

  //
  &:hover, &:focus, &:active,&:not([href]):not([tabindex]){
    text-decoration: none;
    outline: none;
    //color: $btn-color !default;
    //color: inherit;
  }
  &:not([href]):not([tabindex]){

    &:hover, &:focus, &:active {
      text-decoration: none;
      outline: none;
      //color: inherit
    }
  }
  &.disabled, &:disabled{ opacity: .5; cursor: no-drop}

}
@mixin reset-btn(){
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  user-select: none;
  cursor: pointer;
  width: 100%;

  font: $btn-font;
  font-size: 1rem;

  text-transform: $btn-text-transform;
  border: $btn-border;
  transition: $btn-transition;
  padding: $btn-padding;
  line-height:  $btn-line-height;
  border-radius: $btn-border-radius;
  color: $btn-color;
  max-width: $btn-max-width;

  //
  &:hover, &:focus, &:active,&:not([href]):not([tabindex]){
    text-decoration: none;
    outline: none;
    //color: $btn-color !default;
    color: inherit;
  }
  &:not([href]):not([tabindex]){

    &:hover, &:focus, &:active {
      text-decoration: none;
      outline: none;
      color: inherit
    }
  }
  &.disabled, &:disabled{ opacity: .5; cursor: no-drop}

}


@mixin setConfig($prm){
  @each $k, $v in $prm{
    #{$k}: $v;
  }
}


@mixin state($state){
  @extend .__reset-btn;
  //@include reset-btn();
  @each $state_name, $params in $state {
    @if($state_name == default){
      @include setConfig($params);
    }
    @else{
      &:#{$state_name}, &.#{$state_name} {
        @include setConfig($params);
      }
    }
  }
}

@mixin colored($array){
  @each $name, $state in $array {
    @if($name == default){
      @include state($state);
    }
    @else{
      &--#{$name} {
        @include state($state)
      }
    }

  }
}
