@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Black.ttf") format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
}

body {
	background: #7a6ef4;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: #fff;
	font-weight: 500;
	min-width: 320px;
	margin-top: 40px;
}
h1 {
	font-size: 40px;
	text-transform: uppercase;
}

p {
	font-size: 24px;
}
span {
	color: #ffdb5d;
}

.bon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 4px dotted #fff;
	max-width: 700px;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 20px;
	border-radius: 60px;
	margin: 40px auto;
}
.btn {
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	padding: 26px 0;
	width: 300px;
	text-decoration: none;
	border-radius: 40px;
	font-size: 20px;
	text-align: center;
	background: #FFDB5D;
	color: #333;
	box-shadow: 0 0 26px #FFDB5D;
}

@media only screen and (max-width : 770px) {
	.bon {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	p {
		font-size: 16px;
	}
	h1 {
		font-size: 24px;
	}
}