.company{
  &__title{
    @include media-breakpoint-down(xs){
      font-size: 1.7em;
    }
  }
  &__circle{
    &-block{
      margin: 20px auto;
    }
    &-title{
      @extend .f-light;
      font-size: 1em;
      @include media-breakpoint-down(xs){
        font-size: .9em;
      }

    }
  }
  &__circle-block{


  }

}