@import "_main";
@import "block/_block";
@import "text/_text";
@import "btn/_btn";
@import "form/_form";
@import "embed/_embed";
@import "circles/circle";
@import "videobg/_videobg";
@import "gallery/_gallery";



.p-0{
  padding: 0 !important;;
}

.pb-0{
  padding-bottom: 0 !important;
}
.pt-0{
  padding-top: 0 !important;;
}
.pl-0{
  padding-left: 0 !important;;
}
.pr-0{
  padding-right: 0 !important;;
}
.prl-0{
  padding-left: 0 !important;;
  padding-right: 0 !important;;
}

.m-0{
  margin: 0;
}
.m-auto{
  margin: auto;
}
.m-0-auto{
  margin: 0 auto;
}

