.how-we{
  @include media-breakpoint-down(md){
    background: url(../img/map.jpg) no-repeat center center;
    background-position: center center;
    background-size: cover;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: rgba(255,255,255,.95);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;


    }
  }


  &__title{

  }
  &__text{
    max-width: 550px;
  }
  &__row{

  }
  &__map{
    position: relative;

    &-point{
      position: absolute;
      top: 0;
    }
    &-desc{

      background: white;
      border-radius: 50px;
      box-shadow: 0px 15px 10px -6px rgba(0,0,0,.2);
      width: 100%;

      max-width: 200px;
      padding: 5px  15px 5px 30px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      margin: 20px auto;
      @extend .f-bold;


      @include media-breakpoint-down(md){
        max-width: 100%;
        padding: 20px;
        text-align: center;

        background: #f1f1f1;
      }

      &.desc{

        @include media-breakpoint-up(md){
          &1{

            left: 145px;
            top: 90px;
          }
          &2{
            max-width: 290px;
            left: -65px;
            top: 80px;
          }
          &3{
            left: -10px;
            top: -130px;

            max-width: 240px;
          }
          &4{

            left: 135px;
            top: -260px;
          }
        }
        @include media-breakpoint-up(lg){
          z-index: 1;
          position: absolute;
          &1{

            right: -240px;
            top: 25px;
          }
          &2{
            max-width: 290px;
            left: 75px;
            top: 15px;
          }
          &3{
            z-index: 1;
            right: 20px;
            top: -155px;

            max-width: 240px;
          }
          &4{
            z-index: 1;
            right: -125px;
            top: -320px;
          }
        }
        @include media-breakpoint-down(lg){
          &2{
            max-width: 280px;
          }
        }
        @include media-breakpoint-down(sm){
          position: relative;
          &2{
            max-width: 100%;
          }
        }

        @include media-breakpoint-down(md){
          background: #fefefe;
          position: relative;
          font-size: 16px;
          z-index: 1;
        }

      }
    }
  }

}