.videobg{
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5) url(../img/bg_videobg.png) 0 0 repeat;
    z-index: 1;
  }


  &__video{
    z-index: 0;
    opacity: 1 ;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .7s linear;
  }
  &__wrapper{
    position: relative;
    z-index: 2;

  }

}