
.circles {
  margin-bottom: -10px;
}

.circle {
  width: 150px;
  margin: 6px 6px 20px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  line-height: 1.2;

  @include media-breakpoint-down(xs){
    width: 125px !important;
    margin: 10px auto;
  }
  canvas {
    vertical-align: top;
    transform: rotate(90deg);
    @include media-breakpoint-down(xs){
      width: 125px !important;
      height: 125px !important;
    }
  }
  &__num{
    @extend .f-bold;
    line-height: .8;
    font-size: 2.6em;
    color: $accent;
  }
  .num_mask {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;

    i {
      font-style: normal;
      font-size: 0.9em;
      font-weight: normal;
    }
  }
}