.lesson__sidebar{
    position: relative;
    max-width: 320px;
    background: #e2e8ef;
    min-height: 100vh
}
.lesson__sidebar-block{

}
.lesson__sidebar-block.open>ul{
    display: block;
}
.lesson__sidebar-block>.lesson__sidebar-header>span>i{
    transition: .1s all ease-in;
    transform: rotate(0deg);
}
.lesson__sidebar-block.open>.lesson__sidebar-header>span>i{
    transform: rotate(-90deg);
}
.lesson__sidebar-menu{

    display: none;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    height: auto;
    overflow: auto;
    transition: .5s all ease
}

.lesson__sidebar-menu.open>ul{
}

.lesson__sidebar-menu li{
    position: relative;
    margin: 0;
    color: white;

}
.lesson__sidebar-menu li>a{
    color: white;
    transition: 0.5s all ease;
}
.lesson__sidebar-menu li>a:hover{
    color: rgba(255,255,255,.8)
}
.lesson__sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px 17px;
    min-height: 50px;
    color: white;
    background: rgba(0,0,0,.9)
}
.lesson__sidebar-header>i{
    margin-top: 5px;
}
.lesson__sidebar-list{
    padding: 0;

}
.lesson__sidebar-list.active{

}
.lesson__sidebar-list.active>a>i{
    color: rgba(0, 166, 90, 0.9);
}
.lesson__sidebar-list>a{
    background: #6f7379;
    position: relative;
    display: block;
    padding: 10px 10px 10px 15px;
    text-align: left;
    transition: 0.2s all ease;
}
.lesson__sidebar-list.complete>a{
    background: #505358;
    box-shadow: inset 2px 0 0 rgba(0, 166, 90, 0.9);
}
.lesson__sidebar-list.complete>a>i{
    color: rgba(0, 166, 90, 0.9);
}
.lesson__sidebar-list.deactive>a{
    background: #95979a;
}
.lesson__sidebar-list>a:hover, .lesson__sidebar-list.active>a{
    background: #333;
    box-shadow: inset 5px 0 0 rgba(0, 166, 90, 0.9);
}

.lesson__sidebar-list.deactive>a, .lesson__sidebar-list.deactive>a:hover, .lesson__sidebar-list.deactive>a:focus, .lesson__sidebar-list.deactive>a:active{
    cursor: no-drop;
    color: rgba(255,255,255,.5);
    background: #666;
    box-shadow: inset 0px 0 0 rgba(0, 166, 90, 0.9);
}



.info-box{
    overflow: hidden;
    border-radius: 10px !important;
    box-shadow: 0 10px 50px -15px rgba(0,0,0,.15);
}