.about{
  $c: &;
  padding: 0;
  padding-bottom: 3em;
  &__container{

  }
  &__row{
    margin: 3em auto 0;
  }
  &__title{
    margin: 20px 0;
    padding-bottom: 15px;

    &-block{


      margin: 3em  auto 0;

      @include media-breakpoint-down(md){
        margin: 3em auto 0;
      }
    }
  }

  &__desc-block{

    margin: 0 auto 7em ;

    @include media-breakpoint-down(md){
      margin: 0 auto 3em;
    }
  }

  &__author{

    &-desc {
      display: none;
      max-width: 550px;
      &.active {
        display: block;
      }
    }
  }

  &__video{
    position: relative;
    &--thumb{

      display: flex;
      justify-content: center;
      align-items: center;
      //position: absolute;
      z-index:2;
      top: 0;
      margin: 20px auto;
      img{
        box-shadow: $btn-shadow;
        border-radius: 10px;
      }
      .btn{
        position: absolute;
      }
    }

    &-block{

      display: flex;
      align-items: center;
      top: 0;
      z-index: 1;
    }
    &--video{
      max-width: 460px;
      margin: 0 auto;
      border-radius: 10px;
      height: 100%;
      max-height: 320px;
      top: 0;
      video {
        border-radius: 10px;
        //position: absolute;
        left: 0;
        top: 0;
        background: transparent;
        max-width: 100%;
        min-height: 100%;
      }

    }
  }

  &__author{
    $a: &;
    cursor: pointer
    &-block{
      padding-top: 20px;
    }

    &-blocks{
      position: relative;
      display: flex;
      flex-wrap: wrap;

      color: white;
      text-align: center;
      transition: .3s all ease;
      overflow: hidden;
      border-top: 2px solid rgba(0,0,0,0);
      cursor: pointer;
      #{$a}-img{
        filter: grayscale(100%);
      }

      &:hover{
        #{$a}-img{
          filter: grayscale(50%);
        }
      }


      &.active{
        border-top: 2px solid $accent;
        filter: grayscale(0);

        #{$a}-text{
          display: block;
          color: white;
          background: rgba(102, 51, 153, 1);
        }
        #{$a}-name{
          color: white;
        }
        #{$a}-dsc{
          display: block;

        }
        #{$a}-img{
          filter: grayscale(0);
          &:after{background: transparent}
        }
      }
    }

    &-text{
      width: 100%;
      text-align: center;
      position: absolute;

      @include media-breakpoint-down(md){
        position: relative;
      }
      display: none;
      bottom: 0;
      padding: 20px;
      padding-bottom: 5%;


      transition: .5s all ease;

      color: white;
      z-index: 1;
      background: rgba(102, 51, 153, 1);
      &:after{
      }
    }

    &-name{
      @extend .f-bold;
      text-transform: uppercase;
      font-size: 30px;

      margin: 10px auto;
    }
    &-dsc{
      font-size: 14px;
      color: white;
      //display: none;
      max-width: 85%;
      margin: 0 auto;
    }
    &-img{
      width: 100%;
      position: relative;
      img{
        width: 100%;
        position: relative;
      }

      &:after{
        content: "";
        background: #333;
        position: absolute;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        width: 100%;
        bottom: 0;
        height: 100%;
        left: 0;
        z-index: 1;
      }
    }
  }

  &__gallery{

    &-block{
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;

      //max-width: 600px;
      img{
      //  max-width: 600px;
      }
    }
  }
}