
.map-block{
  padding: 2em 0;
  position: relative;
  width: 100%;
  background: #333 url('../img/map_f.jpg') center center;
  background-size: cover;

  &::before{
    background-color: rgba(27, 12, 48, 0.67);
    content: '';
    display: block;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5) url(../img/bg_videobg.png) 0 0 repeat;
    z-index: 1;
  }
  &__ymap {
    position: absolute;
    z-index: -1;
    min-height: 500px;
    top: 0;
    width: 100%;
    height: 100%;
    iframe{
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 100%;
      z-index: 0;
    }

    &::before{
      background-color: rgba(27, 12, 48, 0.67);
      content: '';
      display: block;

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5) url(../img/bg_videobg.png) 0 0 repeat;
      z-index: 1;
    }
  }
  &__map{
    position: relative;
    min-height: 500px;
    z-index: 33;

  }
}
.map{

  &__contact{
    //position: absolute;
    z-index: 44;
    //background: white;
    height: 100%;
    right: 0;
    top: 10px;
    //box-shadow: 0px 10px 20px rgba(0,0,0,.4);
    min-height: 100px;
    width: 100%;

    text-align: center;
    padding: 10px;
    h1{
      @extend .f-bold;
      font-size: 40px;
      color: white;
    }
    .contact__text{
        font-size: 2em !important;
        @extend .f-thin;

    }
  }
  &__content{
    text-align: left;
    color: white;
  }
}

.map-subhead{
  font-size: 18px;
  text-align: center;
  @extend .f-thin;
  font-weighnt: 100;
  margin: 0;
  padding: 0;
}

.map-txt{
  font-size: 1.3em;

  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  @extend .f-thin;
  font-weight: 100;
}
.map-address{
  font-size: 16px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}


.map--href{
  color: white;

  border-bottom: 1px solid;

  text-align: center;
  &:hover{
    color: white;
    text-decoration: none;

    border-bottom: 1px solid $accent;
  }
}
.f-color{
  color: $accent;
}