
.contact-download {
  background: url('../img/download.jpg') no-repeat center top;
  color: white;
  text-align: center;
  line-height: 1;
  padding: 8em 0;
  position: relative;
  &::before {
    background-color: rgba(27, 12, 48, 0.67);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 2em 0;
  }
}
.download{
  .form{
    padding: 0px;
  }
  &__title{
    max-width: 800px;
    margin: 0 auto;
  }
  &__text{
    max-width: 550px;
    margin: 1.5em auto;
    font-size: 18px;
    @extend .f-light;

    .colored{
      color: #a54cff
    }
  }
  .w-800{max-width: 800px;}
  .w-1000{max-width: 1000px;}
}