
.contact{

  color: white;

  line-height: 1;
  padding: 8em 0;
  position: relative;

  &::before{
    background-color: rgba(27, 12, 48, 0.67);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  @include media-breakpoint-down(sm){
    padding: 2em 0
  }

  &__wrapper{

    @include media-breakpoint-down(sm){
      padding: 2em 10px;
      text-align: center;
    }
  }
  &__title{
    max-width: 800px;
    margin: 0 auto;

  }
  &__text{
    @extend .f-light;
    max-width: 550px;
    font-size: 18px;
    line-height: 1.5;
    .colored{
      color: #a54cff
    }
  }
  &__form{
    color: black;

    @include media-breakpoint-down(sm){
      padding: 15px 20px;
    }
    .form__title--text{

      @include media-breakpoint-down(sm){
        padding: 0px 20px;
      }
    }
  }
  .w-800{max-width: 800px;}
  .w-1000{max-width: 1000px;}
}


@import "_contact-map";

._relative{
  position: relative;
}
