.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 0;
  //height: 100%;
  z-index: 999;
  background: rgba(0,0,0,.9);
  height: 0px;
  //display: none;
  transition: .5s all ease;


  overflow: hidden;
  .nav__container{
    padding: 90px 20px 0 20px !important;
  }
  &.active{
    min-height: 100%;
    transition: .3s all ease;
    height: 100px;


    @include media-breakpoint-down(md){
      overflow: scroll;
    }

//    display: block;
  }
  &__row{

  }
  &__container{

  }

}
