.header{
  width: 100vw;
  position: relative;
  background: url('../img/header_3.jpg') no-repeat center top;
  color: white;

  padding-bottom: 0;

  @include media-breakpoint-down(lg){
    height: auto;
    padding: 20px;
  }
  @include media-breakpoint-down(md){
    height: auto;
    padding: 20px;
  }
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

  }

  &__container{
    padding: 0;
    position: relative;
  }
  &__row{
    position: relative;
    height: 100%;
    min-height: 100vh;
    margin-top: 20px;
    @include media-breakpoint-up(md) {
      padding-top: 5%;
    }
    @include media-breakpoint-down(md){
      padding-top: 70px;
      height: auto;
      margin: 3em auto;
    }
  }

  &__content{
    max-width: 700px;
  }
  &__title{
    max-width: 700px;
    @extend .f-bold;
    font-size: 2.8em;
    @include media-breakpoint-up(lg){
      margin-top: 2.3em;
    }
    @include media-breakpoint-down(lg){
      font-size: 2.3em;
    }
    @include media-breakpoint-down(sm){
      font-size: 2em;
      text-align: center
    }
    @include media-breakpoint-down(xs){
      font-size: 1.14em;
      text-align: center;
      margin: 0px auto;
    }

    line-height: 1.2;
  }
  &__text{
    @extend .f-thin;
    font-size:  1.5em;
    max-width: 550px;

    @include media-breakpoint-down(xs){
      font-size: 1.09em;
      text-align: center;
      margin: 0px auto;
    }
  }

  &__form{
    @include media-breakpoint-down(md){
      background: transparent;
      color: white;
      padding: 20px 0px;
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }

    @include media-breakpoint-down(sm){
      background: rgba(255,255,255,1);
      padding: 5px;

      margin: 20px auto;
    }
    .form__text{
      color: #333;
    }
    .form__title{
      &--text{
        @extend .m-auto;
        @extend .f-bold;
        letter-spacing: 2px;
        font-weight: bold;
        color: #333;
        font-size: 27px;
        max-width: 270px;
        margin-bottom: 2px;
        padding-bottom: 2px;

        @include media-breakpoint-down(md){
          max-width: 100%;
          color: white;
        }
        @include media-breakpoint-down(sm){
          max-width: 100%;
          padding: 15px 30px ;
          color: black;
        }

        @include media-breakpoint-down(xs){
          max-width: 100%;
          padding: 10px 25px ;

          font-family: "Roboto", sans-serif;
          font-size: 18px;
        }
      }
    }
    .btn{

      @extend .f-bold;
      letter-spacing: 2px;
    }
  }

  &__pain{
    text-align: center;
    padding: 10px 0 40px 0;
    @include media-breakpoint-down(md){
      padding: 10px 0;
    }
    &-icon{
      width: 100%;
      max-width: 120px;
      min-height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid rgba(255,255,255,.4);
      border-radius: 200px;
      margin: 20px auto;

      @include media-breakpoint-down(md){
        margin: 5px auto;
      }
      span{
        font-size: 3em;
      }
    }
    &-text{
      max-width: 200px;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      @include media-breakpoint-down(md){
        font-size: 16px;
      }
      @include media-breakpoint-down(sm){
        font-size: .75em;
      }

    }
  }
}