
    .fi:before{
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }



    .flaticon-play:before { content: "\f100"; }
    .flaticon-pallet:before { content: "\f101"; }
    .flaticon-delivery:before { content: "\f102"; }
    .flaticon-handshake:before { content: "\f103"; }
    .flaticon-project:before { content: "\f104"; }
    .flaticon-hat:before { content: "\f105"; }

    $font-Flaticon-play: "\f100";
    $font-Flaticon-pallet: "\f101";
    $font-Flaticon-delivery: "\f102";
    $font-Flaticon-handshake: "\f103";
    $font-Flaticon-project: "\f104";
    $font-Flaticon-hat: "\f105";