	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/09/2018 10:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-play:before { content: "\f100"; }
.flaticon-pallet:before { content: "\f101"; }
.flaticon-delivery:before { content: "\f102"; }
.flaticon-handshake:before { content: "\f103"; }
.flaticon-project:before { content: "\f104"; }
.flaticon-hat:before { content: "\f105"; }