@import "../../vars";
@each $header, $size in $title-size {
  #{$header} {
    @extend .f-bold;
    font-size: $size;

  }
}

p{
  @extend .f-reg;
}

h1, h2, h3, h4, h5, h6{
  padding-bottom: 15px;
}
h1{
  font-size: 3em;
  @include media-breakpoint-down(sm){
    font-size: 2em;
    line-height: 1;
  }
}
h2{
  font-size: 2.5em;
  @include media-breakpoint-down(sm){
    font-size: 1.8em;
    line-height: 1;
  }
}

.title{
  padding: 20px;
  &__theme {

  }
  &--border {
    position: relative;
    &:after {
      content: '';
      height: 5px;
      background: #639;
      position: absolute;
      bottom: -5px;
      width: 10%;
      left: 0;
      margin: 10px auto;
    }
  }
}